body {
    background-color: #eee;
}

.scoreboard {
    margin: 16px;
    font-weight: bold;
    font-size: 20px;
}

.restart {
    border: none;
    border-radius: 8px;
    background-color: rgb(132, 51, 139);
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.restart:hover {
    background-color: rgb(98, 37, 104);
}

.card {
    height: 200px;
    width: auto;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05,1.05);
}

.card-display {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 10px;
}